/* FRONT */
body {
    background-image: radial-gradient(circle, white, #80d4ff);
    background-attachment: fixed;
}
form {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
}
.input_log {
    border: 2px solid #00334d;
    border-radius: 5px;
    padding: 5px 10px;
    margin: -40px 0 0 -40px;
    background-color: rgba(1, 1, 1, 0);
    text-align: center;
}
.ok {
    position: relative;
    left: 62%;
    top: 66px;
}
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px;
}

/* BACK */
.page {
    background-image: radial-gradient(circle, #3366cc, #0f1f3d);
    margin: -8px -8px;
}

/* HEADER */
.logo {
    position: absolute;
    top: 1px;
    left: 1%;
    width: 50px;
    height: 50px;
    color: #b3b3cc;
    font-weight: bold;
}
nav {
    position: absolute;
    top: 1%;
    left: 15%;
    margin: 15px 0 0 -50px;
}
.href_nav{
    color: #b3b3cc;
    margin:134px;
}
a{
    color: #007acc;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #ffcc00;
}

/* GRAPHIQUE */
.graphic {
    position: absolute;
    top: 30%;
    left: 38%;
    border: 2px solid #b3b3cc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.graphic_name {
    position: absolute;
    top: 74%;
    left: 40%;
}
svg {
    width: 325px;
    height: 300px;
}

/* TABLEAU */
.tableau {
    position: absolute;
    top: 110%;
    left: 30%;
    margin: -200px 0 0 -200px;
    margin: 100px -200px;
}
.tb {
    border: 2px solid #0f1f3d;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #007acc;
    padding: 10px;
}

/* FORMULAIRE */
.formulaire{
    visibility: hidden;
    position: absolute;
    top: 30%;
    left: 66%;
    width: 325px;
    height: 305px;
    border: 2px solid #b3b3cc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
}
.formUsers{
    visibility: hidden;
    position: absolute;
    top: -58%;
    right: 550%;
    width: 325px;
    height: 305px;
    border: 2px solid #b3b3cc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
}
h2{
   color: #b3b3cc; 
}
.input_spend{
    color: #b3b3cc;
    padding: 5px 3px;
    margin: 10px 0 0 -30px;
    background-color: rgba(1, 1, 1, 0);
    text-align: center;
    border: 1px solid #b3b3cc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.input_check{
    color: #b3b3cc;
    text-align: left;
    padding: 10px 30px;
}

/* SCROLLBAR */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #80d4ff;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #80d4ff;
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, #0f1f3d)
    );
}
